.idea/
cmake-build-debug/
Coding
RayTracer/src/cmake-build-debug/
RayTracer/src/cmake-build-release/
Doxyfile
RayTracer/lib/libRayTracer.so
lib/libRayTracer.so
RayTracer/__pycache__
__pycache__
./src
